body {
    margin-bottom: 20px;
}

.body-content {
    margin-top: -23px !important;
    background-color: rgba(255, 255, 255, 0.85);
}

.sl-slider-wrapper {
    width: 100% !important;
}

.btn-group-justified {
    margin-top: -3px;
    z-index: 10;
}

.fa {
    vertical-align: middle;
}

.main-btn-group.fa {
    margin-right: 25px;
}