body {
    margin-bottom: 20px;
}

.body-content {
    margin-top: -23px !important;
    background-color: rgba(255, 255, 255, 0.85);
}

.sl-slider-wrapper {
    width: 100% !important;
}

.btn-group-justified {
    margin-top: -3px;
    z-index: 10;
}

.fa {
    vertical-align: middle;
}

.main-btn-group .fa {
    margin-right: 25px;
}

@media (max-width: 1000px) {
    div.main-btn-group.btn-group.btn-group-justified a.btn span{
        display: none;
    }
}

.slider-content-pull-down{
    margin-top: 259px;
}

.slider-content-pull-right{
    margin-top: 125px;
    margin-left: 40%;
    width: 400px;
}

.slider-content-pull-center{
    margin-top: 125px;
    margin-left: 23%;
    width: 400px;
}